<div class="container">
    <h2>User info</h2>
  
  
    <div class="grid">
  
      <div class="col-fixed" style="width: 40rem;" *ngIf="userForm">
  
        <form [formGroup]="userForm" (submit)="onFormSubmit()">
  
  
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="name" name="name" formControlName="email" class="form-control" />
              <small class="text-danger" *ngIf="userForm.get('name')?.dirty &&  userForm.get('name')?.hasError('required')">
                This field is required.
              </small>
              
            </div>
          </div>
  
  
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" name="password" formControlName="password" class="form-control" />
            </div>
          </div>
  
          <button pButton type="submit" icon="pi pi-send" label="Sign In" class="mt-3" [disabled]="userForm.invalid" (click)="onFormSubmit()"></button>
          <button pButton type="submit" icon="pi pi-send" label="Sign Up" class="mt-3" [disabled]="userForm.invalid"></button>
        </form>
  
      </div>
  
    </div>
  
  
  </div>
  