<div class="container">
    <h2>User info</h2>
    <form [formGroup]="userForm" (submit)="onFormSubmit()">
        <small class="text-danger"
            *ngIf="userForm.dirty && userForm.get('name')?.hasError('required')">
            This field is required.
        </small><br/>
        Name: <input type="text" name="name" formControlName="name" /><br> 
        <small class="text-danger"
            *ngIf="userForm.dirty && userForm.get('email')?.hasError('required')">
            This field is required.
        </small><br/>
        Email: <input type="email" name="email" formControlName="email"  /><br>
        Password: <input type="password" name="password" formControlName="password" /><br>
        <br>    
        Enabled: <!--<input type="checkbox" name="enabled" formControlName="enabled" />-->
        <p-inputSwitch formControlName="enabled"></p-inputSwitch>
        <br>
        <small class="text-danger"
            *ngIf="userForm.dirty && userForm.get('createdAt')?.hasError('required')">
            This field is required.
        </small>
        Created at: <!--<input type="date" name="createdAt" formControlName="createdAt" />-->
        <p-calendar formControlName="createdAt" dateFormat="yy-mm-dd"></p-calendar>
        <br>
        <button type="submit" class="btn btn-primary mt-3" [disabled]="userForm.invalid">Enviar</button>
    </form>
</div>
