
<div class="container">

  <div class="flex align-items-center gap mb-3">
    <button pButton pRipple type="button" icon="pi pi-plus" label="New" class="p-button-outlined p-button-success" routerLink="/users/form/create"></button>
    <span class="text-xl font-semibold ml-5">Users list:</span>
  </div>


  <p-table [value]="users" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Enabled</th>
        <th>Created at</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <th scope="row">
          <a [routerLink]="['/users', user.id]">{{ user.id }}</a>
        </th>
        <td>{{  user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.password }}</td>
        <td>
          <i class="pi pi-check text-success" *ngIf="user.enabled"></i>
          <i class="pi pi-times text-danger" *ngIf="!user.enabled"></i>
        </td>
        <td>{{ user.createdAt | date : 'yyyy-MM-dd' }}</td>
        <td class="">
          <div class="button-links-bar">
            <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-info" [routerLink]="['/users/form/update', user.id]"></button>
            <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger" (click)="deleteUser(user.id)"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>



</div>
